.OverlayCard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: calc(10);
  display: flex;
  align-items: center;
  justify-content: center;
  .Card {
    background-color: var(--background);
    width: 40%;
    box-sizing: border-box;
    padding: 1rem;
    .loadingView {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
          margin: 0.5rem;
        &>* {
          animation: rotate 4s infinite;
          // animation-direction: alternate-reverse;
          animation-timing-function: linear;
          @keyframes rotate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(3600deg);
            }
          }
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      & {
        width: 60%;
      }
    }
    @media only screen and (max-width: 800px) {
      & {
        width: 80%;
      }
    }
    @media only screen and (max-width: 600px) {
      & {
        width: 90%;
      }
    }
  }
}
