.Sidebar {
  width: 100%;
  height: auto;
  transition-duration: var(--transition-duration);
  .Top {
    margin: 0.5rem;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5rem;

    .container {
      padding: 0.5rem 0.5rem;
      display: flex;
      align-items: center;
      font-weight: 900;
      background: inherit;
      position: relative;
      overflow: hidden;
      border-radius: var(--border-radius);
      background-color: transparent;
      cursor: pointer;
      transition-duration: var(--transition-duration);
      img {
        width: 2rem;
      }
      span {
        padding-left: 0.5rem;
      }
    }
  }
  .itemsHolder {
    .titleHolder {
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      box-sizing: border-box;
      h3 {
        flex-grow: 1;
        font-weight: 900;
      }
      .iconArea {
        padding: 0.5rem;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition-duration: var(--transition-duration);
        &:hover {
          background-color: var(--background-secondary-alt);
          color: var(--color-text-secondary);
        }
      }
    }
    hr {
      margin: 0rem 0.5rem;
      opacity: 0.2;
      color: var(--color-text);
      display: none;
    }
    .item {
      padding: 0.5rem 0.5rem;
      margin: 0.5rem 0.5rem;
      display: flex;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition-duration: var(--transition-duration);
      * {
        font-weight: 900;
      }
      img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        object-position: center;
        border-radius: 2rem;
      }
      &:hover {
        transform: scale(1.04);
        background-color: var(--primary-color-alt);
        box-shadow: var(--card-shadow) !important;
        * {
          color: var(--color-text-secondary);
        }
        .text {
          font-weight: 800;
          white-space: nowrap !important;
        }
      }
      .itemBody {
        margin-left: 0.5rem;
        padding-left: 0rem;
        box-sizing: border-box;
        flex-grow: 1;
        justify-content: start;
        align-items: start;
        transition-duration: var(--transition-duration);
        * {
          line-height: 1.3;
        }
        .text {
          font-weight: 400;
          transition-duration: var(--transition-duration);
        }
        .subText {
          font-size: smaller;
          transition-duration: var(--transition-duration);
        }
      }
    }
    .active {
      .item {
        box-shadow: var(--card-shadow) !important;
        background-color: var(--primary-color);
        padding-left: 0.7rem;
        transform: scale(1.05);
        * {
          color: var(--color-text-secondary);
        }
        .text {
          // font-weight: 800;
        }

        &:hover {
          .text {
            text-decoration: none;
          }
        }

        .itemBody {
          .text {
            font-weight: 600;
          }
          .subText {
            font-weight: 600;
          }
        }
      }
    }
    .hiddenBtn {
      cursor: pointer;
      // text-decoration:underline;
      float: right;
      padding: 0.5rem;
      margin-right: 0.5rem;
      &:hover {
        text-decoration: none;
      }
    }
    .addbtnHolder {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

}
