@font-face {
  font-family: proximaNovaThin;
  src: url(./assets/fonts/Proxima-Nova-Thin.otf);
}
@font-face {
  font-family: Proxima Nova;
  src: url(./assets/fonts/Proxima-Nova-Thin.otf);
}
@font-face {
  font-family: HumanSans-Light;
  src: url(./assets/fonts/HumanSans-Light.otf);
}

:root{
  --fontType: "HumanSans-Light", Georgia, Serif;
  --border-radius:0px;
  --primary-color:#000000;
  --secondary-color:#ffffff;
  --color-on-primary:#ffffff;
  --color-on-secondary:#000000;
  --background:#ffffff;
  --tint:#00000098;
  --background-alt:#e9e9e9;
  --background-secondary:#000000;
  --background-secondary-alt:#484848;
  --color-text:#000000;
  --color-text-secondary:#ffffff;
  --danger-background: rgb(153, 39, 39);
  --danger-text-color: rgb(242, 76, 76);
  --success-background: rgb(29, 201, 29);
  --success-text-color: rgb(31, 169, 31);
  --transition-duration: 500ms;
}
html{
  background-color:var(--background);
}
body {
  margin: 0;
  background: var(--background-alt);
  font-family: var(--fontType), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 80%; 
  color:var(--color-text);
}
a{
  text-decoration: none;
  color: var(--color-text);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  padding: 0.5rem 0.5rem; 
  text-transform: uppercase;
  width:fit-content;
  font-weight: 600;
  cursor: pointer;
  transition-duration: var(--transition-duration);
  &:invalid{
    opacity: 0.3;
    cursor:not-allowed;
  }
   &.btn_primary{
     background: var(--background-secondary);
     color: var(--color-text-secondary);
     &:hover{
       background: var(--background-secondary-alt)
     }
     &:active{
      background: var(--background-secondary);
      color: var(--color-text-secondary);
     }
   }
 }

 .scroller::-webkit-scrollbar {
  width: 5px;
  &:hover{
  width: 10px;
  }
}

/* Track */
.scroller::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey; 
  border-radius: var(--border-radius);
}
 
/* Handle */
.scroller::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: var(--border-radius);
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); 
}